<div class="navbar-fixed">    
	<nav class="orange darken-2">
		<ul id="dropdown1" class="dropdown-content">
			<li>
				<a href="/#/view_user_profile" class="orange-text text-darken-4"><i class="material-icons right">perm_identity</i>Account</a>
			</li>
			<li class="divider"></li>
			<li>
				<a href="/#/view_events" class="orange-text text-darken-4"><i class="material-icons right">today</i>My Events</a>
			</li>
			<li class="divider"></li>
			<li ng-controller="UserCtrl" ng-init="logout()">
				<a ng-click="clicked()" class="orange-text text-darken-4"><i class="material-icons right">power_settings_new</i>Log Out</a>
			</li>
		</ul>
		<div class="nav-wrapper">
			<a href="/#/home" class="brand-logo waves-effect waves-light"><i class="material-icons right">view_module</i>S.E.T.</a>
			<ul class="right hide-on-med-and-down">
				<li>
					<a class="waves-effect waves-light btn blue darken-2" href="/#/home">Home</a>
				</li>
				<li>
					<a class="dropdown-button waves-effect waves-light btn blue darken-2" href="#!" data-activates="dropdown1">Me<i class="material-icons right">arrow_drop_down</i></a>
				</li>
			</ul>
		</div>
	</nav>
</div>

<div ng-controller="EventCtrl" class="container center">
	<div class="row center-cols center-align">
		<div>   
			<h1>Event Form</h1>
		</div>
		<ul>
			<li class="divider"></li>
		</ul>          
	</div>
	<div class="row">
		<form class="col s12 center-align">
			<div class="row">
				<div class="input-field col s12 ">
					<input id="OrgName" type="text" class="validate center-align" ng-model="newEvent.name">
					<label for="org_name" class="left-align">Name</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input id="Date" class="datepicker validate center-align" ng-model="newEvent.event_date">
					<label for="date" class="left-align">Date</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input id="Start" type="time" class="clockpicker validate center-align" ng-model="newEvent.time_start">
					<label for="start" class="left-align">Time Start</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12 ">
					<input id="End" type="time" class="timepicker validate center-align" ng-model="newEvent.time_end">
					<label for="end" class="left-align">Time End</label>
				</div>
			</div>  
			<div class="row">
				<div class="input-field col s12 ">
					<input id="Dress Code" type="text" class="validate center-align" ng-model="newEvent.dress_code">
					<label for="dress_code" class="left-align">Dress Code</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12 ">
					<input id="Theme" type="text" class="validate center-align" ng-model="newEvent.theme">
					<label for="theme" class="left-align">Theme</label>
				</div>
			</div>     
			<div class="row">
				<div class="input-field col s12 ">
					<input id="Details" type="text" class="validate center-align" ng-model="newEvent.details">
					<label for="details" class="left-align">Details</label>
				</div>
			</div> 
			<div class="row" ng-controller="VenueCtrl">
				<div class="input-field col s12" ng-init="getVenues()">
					<select class="pick" ng-model="newEvent.venue[venue.name]" ng-options="venue.name for venue in venues track by venue.venueID"></select>
					<label for="venue" class="left-align">Venue</label>
				</div>
			</div>  
		</form>
	</div>
	<a class="waves-effect waves-light btn blue darken-2" ng-click="checkAvailability()">Submit</a>
</div>

<script type="text/javascript" src="../assets/js/jquery-1.12.3.js""></script>
<script type="text/javascript" src="../assets/js/materialize.min.js"></script>
<script type="text/javascript" src="../assets/js/short2.js"></script>



