<ul id="dropdown1" class="dropdown-content">
	<li ng-controller="EventCtrl" ng-init="logout()"><a ng-click="clicked()" class="orange-text text-darken-4"><i class="material-icons right">power_settings_new</i>Log Out</a></li>
</ul>  

<div class="navbar-fixed">      
	<nav class="orange darken-2">
		<div class="nav-wrapper">
			<a href="index.html" class="brand-logo waves-effect waves-light"><i class="material-icons right">view_module</i>S.E.T.</a>
			<ul class="right hide-on-med-and-down">
				<li>
					<a class="waves-effect waves-light btn blue darken-2" class="blueB" href="/#/homeadmin">Edit Events</a>
				</li>
				<li>
					<a class="waves-effect waves-light btn blue darken-2" class="blueB" href="/#/get_venues">Edit Venue</a>
				</li>
				<li>
					<a class="waves-effect waves-light btn blue darken-2" class="blueB" href="/#/edit_user">Edit Users</a>
				</li>
				<li>
					<a class="dropdown-button waves-effect waves-light btn blue darken-2" class="blueB" href="#!" data-activates="dropdown1">Me<i class="material-icons right">arrow_drop_down</i></a>
				</li>
			</ul>
		</div>
	</nav>
</div>

<div ng-app="app" ng-controller="EventCtrl" ng-init="addAdmin()" class="container center">
	<div class="row center-cols center-align">
		<div>   
			<h1>Admin Form</h1>
		</div>
		<ul>
			<li class="divider"></li>
		</ul>          
	</div>
	<div class="row">
		<form class="col s12 center-align">
			<div class="row">
				<div class="input-field col s12 ">
					<input id="OrgName" type="text" class="validate" ng-model="newAdmin.name">
					<label for="org_name">Name</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12 ">
					<input id="userName" type="text" class="validate" ng-model="newAdmin.username">
					<label for="username">Username</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input id="password" type="password" class="validate" ng-model="newAdmin.password">
					<label for="password">Password</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12 ">
					<input id="ContactNum" type="text" class="validate" ng-model="newAdmin.contact_number">
					<label for="ContactNum">Contact Number</label>
				</div>
			</div>        
		</form>
	</div>
	<a class="waves-effect waves-light btn blue darken-2" onclick="Materialize.toast('Admin Added', 2000)" ng-click="clicked()">Submit</a>
</div> 

<script type="text/javascript" src="../assets/js/jquery-1.12.3.js""></script>
<script src="../assets/js/materialize.min.js"></script>
<script src="../assets/js/short2.js"></script>