<ul id="dropdown1" class="dropdown-content">
	<li ng-controller="EventCtrl" ng-init="logout()"><a ng-click="clicked()" class="orange-text text-darken-4"><i class="material-icons right">power_settings_new</i>Log Out</a></li>
</ul>

<div class="navbar-fixed"> 
	<nav class="orange darken-2">
		<div class="nav-wrapper">
			<a href="index.html" class="brand-logo waves-effect waves-light"><i class="material-icons right">view_module</i>S.E.T.</a>
			<ul class="right hide-on-med-and-down">
				<li>
					<a class="waves-effect waves-light btn blue darken-2" class="blueB" href="/#/homeadmin">Edit Events</a>
				</li>
				<li>
					<a class="waves-effect waves-light btn blue darken-2" class="blueB" href="/#/get_venues">Edit Venue</a>
				</li>
				<li>
					<a class="waves-effect waves-light btn blue darken-2" class="blueB" href="/#/edit_user">Edit Users</a>
				</li>
				<li>
					<a class="dropdown-button waves-effect waves-light btn blue darken-2" class="blueB" href="#!" data-activates="dropdown1">Me<i class="material-icons right">arrow_drop_down</i></a>
				</li>
			</ul>
		</div>
	</nav>
</div>

<div ng-app="app" ng-controller="EventCtrl" class="container" id="printArea">
	<div class="row center-cols center-align">
		<div>   
			<h1>Events</h1>
			<a ng-click="print()" class="waves-effect waves-light btn blue darken-2">Generate PDF</a>
		</div>
		<ul>
			<li class="divider"></li>
		</ul>          
	</div>
	<div class="row">
		<div class="col s12 m12 l6">
			<div class="row center-cols center-align">
				<div>   
					<h3>Pending</h3>
				</div>
				<ul>
					<li class="divider"></li>
				</ul>          
			</div>                
			<ul ng-app="app" ng-controller="EventCtrl" class="collapsible popout" data-collapsible="accordion" ng-init="getPendingEvents()">      
				<li ng-repeat="a in pendingEvents | orderBy: 'event_date'" ng-init="removeEvent()">
					<a ng-click="clicked(a.name); pendingEvents.splice(pendingEvents.indexOf(a), 1)" class='waves-effect waves-light btn-floating blue darken-2 right'><i class="material-icons right">clear</i></a>
					<a ng-click="approveEvent(a.name)" class='waves-effect waves-light btn-floating blue darken-2 right'><i class="material-icons right">check</i></a>
					<div class="collapsible-header">
						<div class="chip"><img src="../assets/images/for.jpg" alt="Contact Person"/>{{a.name}}
						</div>
					</div>
					<div class="collapsible-body">
						<p> Time: {{a.time_start}} to {{a.time_end}}<br>
						Theme: {{a.theme}}<br>
						Dress Code: {{a.dress_code}}<br>
						Details: {{a.details}}<br>
						Venue: {{a.venue}}<br>
						Organizer: {{a.organizer}}<br></p>
						<div class="row center-align">
							<a ng-click="printOneEvent(a)" class="waves-effect waves-light btn blue darken-2">Generate PDF</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="col s6 m12 l6">
			<div class="row center-cols center-align">
				<div>   
					<h3>Approved</h3>
				</div>
				<ul>
					<li class="divider"></li>
				</ul>          
			</div>  
			<div ng-app="app" ng-controller="EventCtrl" class="row center-cols center-align" ng-init="getApprovedEvents()">
				<div class="col m6" ng-repeat="b in approvedEvents | orderBy: 'event_date'" ng-init="removeEvent()" id="printEvent">
					<div class="card small" style="width: 275px;">
						<div class="card-image waves-effect waves-block waves-light">
							<img class="activator" src="../assets/images/bak.jpg">
						</div>
						<div class="card-content">
							<span class="card-title activator grey-text text-darken-4"><a style="font-size: 20px">{{b.name}}</a><i class="material-icons right">more_vert</i><br>
								<a ng-click="clicked(b.name); approvedEvents.splice(approvedEvents.indexOf(b), 1)" class='waves-effect waves-light btn-floating blue darken-2 right'><i class="material-icons right">clear</i></a>
							</span>
						</div>
						<div class="card-reveal">
							<span class="card-title grey-text text-darken-4">Date: {{b.event_date}}<i class="material-icons right">close</i></span>
							<p> Time: {{b.time_start}} to {{b.time_end}}<br>
							Theme: {{b.theme}}<br>
							Dress Code: {{b.dress_code}}<br>
							Details: {{b.details}}<br>
							Venue: {{b.venue}}<br>
							Organizer: {{b.organizer}}<br></p>
							<a ng-click="printOneEvent()" class="waves-effect waves-light btn blue darken-2">Generate PDF</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col s6 m12 l6">
			<div class="row center-cols center-align">
				<div>   
					<h3>Cancelled</h3>
				</div>
			<ul>
				<li class="divider"></li>
			</ul>          
			</div>  
			<div ng-app="app" ng-controller="EventCtrl" class="row center-cols center-align" ng-init="getCancelledEvents()">
				<div class="col m6" ng-repeat="b in cancelledEvents | orderBy: 'event_date'" ng-init="removeEvent()" id="printEvent">
					<div class="card small" style="width: 275px;">
						<div class="card-image waves-effect waves-block waves-light">
							<img class="activator" src="../assets/images/bak.jpg">
						</div>
						<div class="card-content">
							<span class="card-title activator grey-text text-darken-4"><a style="font-size: 20px">{{b.name}}</a><i class="material-icons right">more_vert</i><br>
								<a ng-click="clicked(b.name); approvedEvents.splice(approvedEvents.indexOf(b), 1)" class='waves-effect waves-light btn-floating blue darken-2 right'><i class="material-icons right">clear</i></a>
							</span>
						</div>
						<div class="card-reveal">
							<span class="card-title grey-text text-darken-4">Date: {{b.event_date}}<i class="material-icons right">close</i></span>
							<p> Time: {{b.time_start}} to {{b.time_end}}<br>
							Theme: {{b.theme}}<br>
							Dress Code: {{b.dress_code}}<br>
							Details: {{b.details}}<br>
							Venue: {{b.venue}}<br>
							Organizer: {{b.organizer}}<br></p>
							<a ng-click="printOneEvent()" class="waves-effect waves-light btn blue darken-2">Generate PDF</a>
						</div>
					</div>      
				</div>
			</div>
		</div>
	</div>
</div>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script type="text/javascript" src="../assets/js/jquery-1.12.3.js""></script>
<script type="text/javascript" src="../assets/js/materialize.min.js"></script>
