<div ng-controller="VenueCtrl">
	<div class="navbar-fixed">
		<nav class="orange darken-2">
			<ul id="dropdown1" class="dropdown-content">
				<li>
					<a href="/#/edit_user_profile" class="orange-text text-darken-4"><i class="material-icons right">perm_identity</i>Account</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="/#/view_events" class="orange-text text-darken-4"><i class="material-icons right">today</i>My Events</a>
				</li>
				<li class="divider"></li>
				<li ng-controller="UserCtrl" ng-init="logout()">
					<a ng-click="clicked()" class="orange-text text-darken-4"><i class="material-icons right">power_settings_new</i>Log Out</a>
				</li>
			</ul>
			<div class="nav-wrapper">
				<a href="/#/home" class="brand-logo waves-effect waves-light"><i class="material-icons right">view_module</i>S.E.T.</a>
				<ul class="right hide-on-med-and-down">
					<li>
					<!-- SEARCH BAR -->
						<div class="input-field">
							<input id="searchvenue" type="search" required style="height:35px;width:200px;" placeholder="Search venue" ng-model="name_venue">
							<label for="search"></label>
						</div>
					</li>
					<li>
						<a ng-click="searchVenue()"><i class="material-icons">search</i></a>
					</li>
					<li>
						<a class="waves-effect waves-light btn blue darken-2" href="/#/home">Home</a>
					</li>
					<li>
						<a class="dropdown-button waves-effect waves-light btn  blue darken-2" href="#!" data-activates="dropdown1">Me<i class="material-icons right">arrow_drop_down</i></a>
					</li>
				</ul>
			</div>
		</nav>
	</div>

	<div id="searchModal" class="modal" ng-controller="FrontendCtrl">
		<div class="modal-content">
			<div class="row">
				<table>
					<thead>
						<tr>
							<th>Name</th>
							<th>Location</th>
							<th>Capacity</th>
							<th>Parking Capacity</th>
							<th>Type</th>
							<th>Details</th>
						</tr>
					</thead>
					<tbody ng-repeat="a in venuesResult">
						<tr>
							<th>{{a.name}}</th>
							<th>{{a.location}}</th>
							<th>{{a.capacity}}</th>
							<th>{{a.parking_space_capacity}}</th>
							<th>{{a.type}}</th>
							<th>{{a.details}}</th>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="modal-footer">
			<button ng-click="closeSearch()" class="btn waves-effect waves-light blue darken-2">Okay</button>
		</div>
	</div>
</div>

<section class="images">
	<div class="slider center-align">
		<ul class="slides">
			<li>
				<img class="caro" src="../assets/images/gat.jpg"> <!-- random image -->
				<div class="caption center-align">
					<h3>Simple</h3>
					<h5 class="light grey-text text-lighten-3">Event and Location reservation</h5>
				</div>
			</li>
			<li>
				<img class="caro" src="../assets/images/obl.jpg"> <!-- random image -->
				<div class="caption left-align">
					<h3>Easy</h3>
					<h5 class="light grey-text text-lighten-3">Interface for reservations</h5>
				</div>
			</li>
			<li>
				<img class="caro" src="../assets/images/jap.jpg"> <!-- random image -->
				<div class="caption right-align">
					<h3>True</h3>
					<h5 class="light grey-text text-lighten-3">Time tables and Calendar</h5>
				</div>
			</li>
			<li>
				<img class="caro" src="../assets/images/obl.jpg"> <!-- random image -->
				<div class="caption center-align">
					<h3>S.E.T. your Event</h3>
					<h5 class="light grey-text text-lighten-3" id="4thpage"><a class="waves-effect waves-light btn-large blue darken-2" href="/#/add_event">Click Here to Reserve Now</a></h5>
				</div>
			</li>
		</ul>
	</div>
</section>

<ul>
	<li class="divider"></li>
</ul> 

<section>
	<div class="row center-cols center-align" ng-controller="VenueCtrl" ng-init="getVenues()">
		<div class="col m4" ng-repeat="venue in venues">
			<div class="card small" style="width: 350px;">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src={{venue.details}}>
				</div>
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4">{{venue.name}}<i class="material-icons right">more_vert</i></span>
					<p><a>Click to View Information</a></p>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">{{venue.name}}<i class="material-icons right">close</i></span>
					<p>Location: {{venue.location}}<br>
					Capacity: {{venue.capacity}}<br>
					Parking Space Capacity: {{venue.parking_space_capacity}}<br>
					Type: {{venue.type}}<br>
					Details: {{venue.details}}</p>
				</div>
			</div>  
		</div> 
	</div>
</section>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script type="text/javascript" src="../assets/js/jquery-1.12.3.js""></script>
<script type="text/javascript" src="../assets/js/materialize.min.js"></script>
<script type="text/javascript" src="../assets/js/short.js"></script>